<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intro</title>
	<link rel="stylesheet" href="./static/style.css">
	</head>

<body>
	<div class="container">
		<div class="box1">

          <h1>Introduction</h1>
          <hr>
          <div class="box2">
          	<img src="/static/duck.jpg"width="200"heght="225">
          </div>
          
          <h2>Name</h2>
          <p>ENXI WAN</p>


          <h2>About</h2>
          <p>University of Warwick</p>
          <p>e-Business Management</p>
          <h2>Hobbies</h2>
          <p>Travel</p>
          <p>Movies</p>
          <h2>Likes</h2>
          <p>Shopping</p>
          <p>Skiing</p>
          <h2>Friends</h2>
          <table><tr>
          <td>
                <img src="/static/pig1.jpg"width="100"heght="125">  
               </td> 
              <td>Tom   Graguated from PePPa Pig College</td>
              <hr>
             </tr>
          </table>
          <table><tr>
            <td>
              <img src="/static/pig2.jpg"width="100"heght="125">
              <td>Mary  Graguated from PePPa Pig College</td>
              <hr>
            </td>

          </tr>
          </table>

          
          

        </div>  
    </div>
              
              
         
          

          


	    
    
	

</body>
</html>